.delete-btn {
    position: absolute;
    right: 15vw;
    font-size: 1.5rem;
    color: #333;
}

.delete-btn:hover {
    cursor: pointer;
}

.input-question {
    width: 100%;
} 

.input-answer {
    margin-left: 20px;
    background-color: transparent;
    color: white;
}

.input-answer::placeholder {
    color: white;
}